.white{
    color: rgba(255, 255, 255, 0.788);
}
.teal{
    background: rgb(5, 199, 199);
}

.blue{
    background: rgba(0, 0, 65, 0.719);
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star-line hr{
   display: inline-block;
   width: 60px;
   margin: 0 20px;
   border: 0.5px solid white;
   opacity: 0.8;
}

.portfolio .star-line hr,
 .contact .star-line hr {
    border: 0.5px solid black;
}

/* --- nav --- */
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    height: 50px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.mobile-none{
    display: none;
    width: 50%;
    
}
/* --- nav --- */

/* ---start--- */
#subtitle{
    display: flex;
    flex-shrink: 1;
}
/* ---start--- */

/* ---portfolio--- */
.portfolio img{
    border-radius: 10px;
}
/* ---portfolio--- */

.download{
    border: 1px solid #fff;
}

/* ---contact--- */
.radius{
    border-radius: 10px;
}

.contact input,
.contact textarea {
    border: none;
}

.contact input::placeholder { 
    color: black;
    opacity: 1; 
  }

  .contact textarea::placeholder { 
    color: black;
    opacity: 1; 
  }

  .message{
      width: 80%;
      height: 100px;
  }

  .send{
      border: none;
  }
/* ---contact--- */

/* ---footer--- */
.text-teal{
    color: teal;
}
/* ---footer--- */



@media only screen and (min-width: 576px){
    nav button{
        display: none;
    }
    .mobile-none{
        display: inline-block;
    }
}